<img src="https://media-exp1.licdn.com/dms/image/C561BAQECOEkq6bcTbg/company-background_10000/0/1594066138126?e=2147483647&v=beta&t=rNr2oex9XQZNfGAVCdNwVGcmj4X4uLsYCLookLZRnrk" style="height: 130px; width:100%;"/><div>
  <br/><app-header></app-header>
<app-reshop></app-reshop>
<br/><br/>
<h2 style="margin-left: 80px;font-style: italic;">Please choose voucher(s):</h2>
<mat-grid-list cols="2" gutterSize="-10px" rowHeight="300px">
  <mat-grid-tile>
    <app-drinkvoucher></app-drinkvoucher>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-diamondvoucher></app-diamondvoucher>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" gutterSize="-10px" rowHeight="300px">
  <mat-grid-tile>
    <app-foodvoucher></app-foodvoucher>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-travelvoucher></app-travelvoucher>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" gutterSize="-10px" rowHeight="300px">
  <mat-grid-tile>
    <app-giftvoucher></app-giftvoucher>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-hotel></app-hotel>
  </mat-grid-tile>
</mat-grid-list>
</div><br/>
<button mat-raised-button color="primary" style="margin-left: 800px; width: 300px;">Submit</button><br/>
<br/><br/>